<article class="post">
    <div class="title">
        <h3>{{title}}</h3>
    </div>
  <div class="meta">
    By {{user.username}} on {{format_date created_at}}
    <div>
    {{content}}
    </div>
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>